# Setup environment variables
setenv GOPATH = "{{ golang_path }}"
setenv GOROOT = "{{ golang_root }}"
setenv NASHPATH = "{{ nash_path }}"
setenv NASHROOT = "{{ nash_root }}"
setenv PLAN9 = "/usr/local/plan9"
setenv ACMETOOLS = $PLAN9+"/acme/edit"
setenv PATH <= format("%s:%s/bin:%s/bin:%s/bin:%s/bin:%s/bin", $PATH, $PATH, $GOPATH, $GOROOT, $NASHROOT, $PLAN9)
setenv SHELL = "/usr/bin/nash"
setenv ENCFS6_CONFIG = "/keybase/private/"+$USER+"/cfgs/.encfs6.xml"

import "colors.sh"
import "prompt.sh"
import "aliases.sh"
import "nashcomplete/all.sh"
